<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{61,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,76}</string>
                <key>spriteSourceSize</key>
                <string>{68,76}</string>
                <key>textureRect</key>
                <string>{{61,0},{68,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{129,0},{75,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{82,89}</string>
                <key>textureRect</key>
                <string>{{0,83},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,97}</string>
                <key>spriteSourceSize</key>
                <string>{89,97}</string>
                <key>textureRect</key>
                <string>{{82,83},{89,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{97,103}</string>
                <key>textureRect</key>
                <string>{{0,180},{97,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,109}</string>
                <key>spriteSourceSize</key>
                <string>{101,109}</string>
                <key>textureRect</key>
                <string>{{97,180},{101,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,115}</string>
                <key>spriteSourceSize</key>
                <string>{108,115}</string>
                <key>textureRect</key>
                <string>{{0,289},{108,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,121}</string>
                <key>spriteSourceSize</key>
                <string>{113,121}</string>
                <key>textureRect</key>
                <string>{{108,289},{113,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,123}</string>
                <key>spriteSourceSize</key>
                <string>{117,123}</string>
                <key>textureRect</key>
                <string>{{0,410},{117,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,93}</string>
                <key>spriteSourceSize</key>
                <string>{90,93}</string>
                <key>textureRect</key>
                <string>{{117,410},{90,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{0,533},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{64,533},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{128,533},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion.png</string>
            <key>size</key>
            <string>{221,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eadeed0d337878338bc77ec47de7b5a:34732ccdbfbb649b846c9e4f8db4d0cb:fe049886709682b4c74f6865e9893d85$</string>
            <key>textureFileName</key>
            <string>Explosion.png</string>
        </dict>
    </dict>
</plist>
